	@import "bourbon/bourbon";
	@import "neat/neat";

	$navbar-height: 64px;

	body{
		margin: 0;
		overflow-x: hidden;
	}
	*,*:after,*:before{
		box-sizing: border-box;
	}
	div{
		font-family: 'Source Sans Pro', sans-serif;
	}
	

	.msgbutton{
    background:url(/assest/envelope.png) no-repeat; 
    cursor:pointer;
    border:none;
    width:24px;
    height:24px;
    margin-right: 25px;

  }.bellbutton{
    background:url(/assest/bell.png) no-repeat; 
    cursor:pointer;
    border:none;
    width:24px;
    height:24px;
        margin-right: 25px;


  }
	.body-container{
		@include grid-container;
		@include grid-collapse;
	}
	.left-panel{
		@include grid-column(3);
		background: #1588a4;
		color: #fff;
		min-height: 100vh;
	.logo_wb{
		width: 189px;
	  height: 60px;
	}
		.list{
			margin-top: 12px;
			line-height: 48px;
			.list-item{
				margin: 0px 7px 0px 0px;
				font-size: 14px;
	  			font-weight: bold;
	  			font-style: normal;
	  			font-stretch: normal;
	  			line-height: 60px;
	  			padding-left : 45px;
	  			letter-spacing: 1.6px;
				cursor: pointer;
				border-left: solid 4px transparent;
				&.active{
					color: #ffa042;
					border-left-color: #ffa042;
				}
			}
		}
		.name-sidebar {
	  		font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  color: #ffffff;
		}
	}
	.main-panel{
		@include grid-column(9);
		margin-left: 0;
		background: #eeeded;
		min-height: 100vh;
		.navbar{
				height: 90px;

			@include grid-container;
			line-height: $navbar-height;
			background: #fff;
			border-bottom: solid 1px #eee;
			.name-navbar{
	  		font-family: 'Source Sans Pro';
  			font-size: 14px;
  			font-weight: normal;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: normal;
  			letter-spacing: 1.6px;
  			color: #2a2a2a;
			}
			.search-panel{
				@include grid-column(7.5);
			}
			.menu-panel{
				@include grid-column(4.5);
			}
		}

		.cards-container{
			@include grid-container;
			margin: 20px;
			.card{
				background: #fff;
				border-radius: 3px;
				padding: 12px;
				box-shadow: 0px 0px 2px 1px rgba(171, 171, 171, 0.08);
				margin-bottom: 20px;
				// margin-top: 20px;

				&.full-card{
					@include grid-column(12);
					.button {
						width: 111px;
						height : 35px;
						border: none;
						background-color: white;
						border: 1px solid #979797;
    					font-family: 'Source Sans Pro';
   					 	color: #979797;
    					padding: 9px 17px;
    					text-align: center;
    					text-decoration: none;
    					display: inline-block;
    					letter-spacing:1.3px;
    					font-size: 12px;
    					border-radius : 100px;
    					margin : 38px 18px 0 0;
    					&.active-btn{
							background-color: #fff;
							color: white;
							background-color: #78d490; /* Green */
    						border: none;
						}
						
					}
					.button:hover {
    						background-color: #78d490;
    						color: white;
						}
					.overview-heading{
    				font-family: 'Source Sans Pro';
  					font-size: 32px;
  					font-weight: 500;
  					font-style: normal;
  					font-stretch: normal;
 					line-height: normal;
  					letter-spacing: 0.8px;
  					color: #616161;
					
					}
					.overview-text{
    				font-family: 'Source Sans Pro';
  					font-size: 14px;
  					font-weight: 400;
  					font-style: normal;
  					font-stretch: normal;
 					line-height: normal;
  					letter-spacing: 0.8px;
  					color: #616161;
					}
				}

				&.card-3{
					.card-heading{
	  					font-family: 'Source Sans Pro';
	  					font-size: 18px;
	  					font-weight: 600;
	  					font-style: normal;
	  					font-stretch: normal;
	  					line-height: normal;
	  					letter-spacing: 0.8px;
	  					color: #616161;
					}
					.card-value{
						width: 134px;
	  					height: 60px;
	  					font-family: 'Source Sans Pro';
	  					font-size: 48px;
	  					font-weight: 600;
	  					font-style: normal;
	  					font-stretch: normal;
	  					line-height: normal;
	  					letter-spacing: 2.5px;
					}
					.card-footer{
	  					  font-family: 'Source Sans Pro';
						  font-size: 17px;
						  font-weight: normal;
						  font-style: normal;
						  font-stretch: normal;
						  line-height: normal;
						  letter-spacing: 0.8px;
						  color: #616161;
						  margin-bottom:20px;
					}
					@include grid-column(4);
				}
			}

		}
	}
