html::-webkit-scrollbar{ background-color: whitesmoke; width: 4px; height: 0;}
html::-webkit-scrollbar-thumb{ background-color: #424242; }
::-moz-selection{ background-color: #F50057; color: #ffffff;}
::selection{ background-color: #F50057; color: #ffffff;}

.profile-picture {
    width: 55px;
    height: 55px;
}

.navbar-menu {
	padding-top: 0;
}

button.button.navbar-burger {
	border-radius: 0;
}