.user-card {
  margin: 15px auto;
  cursor: pointer;
}

.user-card:hover {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.app-user-data {
  margin-right: 10px;
  color: #666;
}

.card-icon {
  margin-top: 10px;
  color: #555;
}

.book-icon {
  vertical-align: -7px;
  margin-right: 2px;
}

.user-icon {
  vertical-align: -4px;
  margin-right: -1px;
}

.map-icon {
  vertical-align: -5px;
  margin-right: 0;
}

.Modal-closeIcon-0-1-4 {
  z-index: 999;
}