.user-card {
  margin: 15px auto;
}
.app-user-data {
  margin-right: 10px;
  color: #666;
}

.card-icon {
  margin-top: 10px;
  color: #555;
}

.book-icon {
  vertical-align: -7px;
  margin-right: 2px;
}

.user-icon {
  vertical-align: -4px;
  margin-right: -1px;
}

.map-icon {
  vertical-align: -5px;
  margin-right: 0;
}