body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#search {
  background-color: #fff;
}

.input, .select select, .textarea { 
  color: #c7c8c7;
}

.select, .textarea {
  margin-bottom: 0.75rem;
}

@keyframes blur-pulse {
  0% {
    opacity: 0.3;
    filter: blur(3px);
  }

  50% {
    opacity: 0.6;
    filter: blur(6px);
  }

  100% {
    opacity: 0.3;
    filter: blur(3px);
  }
}

.is-blurred {
  animation: blur-pulse 2s infinite;
}
