body {
  margin: 0;
  padding: 0;
}

#search {
  background-color: #fff;
}

.input, .select select, .textarea { 
  color: #424242;
  font-weight: normal; 
  border: 2px solid #dbdbdb;
}

.select, .textarea {
  margin-bottom: 0.75rem;
}


.tag:not(body) .delete {
  margin-left: 5px;
  margin-right: 0px;
}

.tag {
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: move;
}

.tag:last-child {
  margin-bottom: none;

@keyframes blur-pulse {
  0% {
    opacity: 0.3;
    filter: blur(3px);
  }

  50% {
    opacity: 0.6;
    filter: blur(6px);
  }

  100% {
    opacity: 0.3;
    filter: blur(3px);
  }
}

.is-blurred {
  animation: blur-pulse 2s infinite;
}
